

<form [formGroup]="todoForm" > 
    <div class="form-group" >
      <label for="exampleInpuNumber">Task Number : </label>
      <input type="number" class="form-control"  [formControl]="id">
      <span style="color: white;" [hidden]="id.valid||id.untouched">This field is not valid</span>
    </div>
    <div class="form-group">
      <label for="exampleInputName">Name : </label>
      <input type="text" class="form-control" [formControl]="name">
      <span style="color: white;" [hidden]="name.valid || name.untouched">This field is not valid</span>
 
    </div>
    <div class="form-group">
      <label for="exampleInputDesc">Description : </label>
      <input type="text" class="form-control" [formControl]="desc">
      <span style="color: white;" [hidden]="desc.valid||desc.untouched">This field is not valid</span>
    </div>
    <div class="form-group">
      <label for="exampleInputDate">Date : </label>
      <input type="date" class="form-control" [formControl]="date">
      <span style="color: white;" [hidden]="date.valid || date.untouched">This field is not valid</span>

    </div>
<br>
   
    
    <button (click)="loginUser()"  class="btn btn-primary">Add Item</button>
  </form>